<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-sentry"
    version="1.0.0">
    <name>Sentry</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/getsentry/sentry-cordova.git</repo>
    <issue>https://github.com/getsentry/sentry-cordova/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/Cordova.js" name="Sentry">
        <runs/>
        <clobbers target="Sentry" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Sentry">
          <param name="android-package" value="io.sentry.sentry" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/io/sentry/SentryCordova.java" target-dir="src/io/sentry/" />

      <framework src="io.sentry:sentry-android:1+" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/Cordova.js" name="Sentry">
            <runs/>
            <clobbers target="Sentry" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="Sentry">
                <param name="ios-package" value="SentryCordova" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/SentryCordova.h" />
        <source-file src="src/ios/SentryCordova.m" />

        <framework src="src/ios/Carthage/Build/iOS/Sentry.framework" custom="true" embed="true" />
    </platform>

    <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>
